[isort]
default_section=THIRDPARTY
known_first_party=api,recipes,tags,users # change it for the name of your django project
known_django=django
sections=FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
no_lines_before=THIRDPARTY,LOCALFOLDER
